@media only screen and (max-width: 1140px){
    .nav-list{
        flex-direction: column;
    }

    .navbar{
        height: 447px;
        flex-direction: column;
        transition: all 0.7s ease-out;
    }

    .rightNav{
        text-align: center;
    }

    .box-main{
        flex-direction: column-reverse;
        max-width: 100%;
    }

    #search{
        width: 100%;
    }

    .burger{
        display: block;
    }

    .h-nav-resp{
        height: 72px;
    }

    .v-class-resp{
        opacity: 0;
    }

    .section{
        flex-direction: column;
    }

    .text-small{
        text-align: center;
    }

    .text-big{
        text-align: center;
        padding-top: 50px;
    }

    .featured-img {
        padding-top: 40px;
    }

    .feature-b {
        padding-top: 40px;
    }

    .buttons{
        text-align: center;
    }

    .last-section {
        text-align: center;
        flex-direction: column;
    }

    .img-1 {
        padding: 0 20px;
    }
}